@{
  Layout = "_Layout";
}

@using Factory.Models;

<div class = "container">
  <h1>Machines</h1>
  <hr />

  @if (@Model.Count == 0)
  {
    <h3>No machines have added yet!</h3>
  }
  else
  {
    @foreach(Machine machine in Model)
    {
      <li>@Html.ActionLink($"{machine.MachineName}", "Details", new { id = machine.MachineId})</li>
    }
  }

  <br>
  <p>@Html.ActionLink("Add new machine", "Create")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>