@{
  Layout = "_Layout";
}

<div class = "container">
  <h1>Welcome to Dr. Sillystringz's Factory Administrative Site</h1>
  <hr />
  <br>
  <p>@Html.ActionLink("Manage engineers", "Index", "Engineers")</p>
  <p>@Html.ActionLink("Manage machines", "Index", "Machines")</p>
</div>

