@{
  Layout = "_Layout";
}

<div class = "container">
  <h1>Welcome to Dr. Sillystringz's Factory Administrative Site</h1>

  <p>@Html.ActionLink("Manage Engineers", "Index", "Engineers")</p>
</div>

